@import url(./pretendard.css);
/* 리셋 CSS by Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: Pretendard;
    vertical-align: baseline;
}

span{display: inline-block;}
/* HTML5를 위한 오래된 브라우저용 display-role 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 모바일 앱 및 웹 퍼블리싱 CSS 초기화 */

/* 모든 요소에 대해 box-sizing을 border-box로 설정 */
* {
    box-sizing: border-box;
}

/* 기본 마진과 패딩 제거 */
body, html {
    margin: 0;
    padding: 0;
}

/* 목록 스타일 제거 */
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 기본 앵커 스타일 제거 */
a {
    display: inline-block;
    text-decoration: none;
    color: inherit; /* 부모 요소에서 색상 상속 */
}

/* 기본 버튼 스타일 제거 */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: inherit; /* 부모 요소에서 폰트 상속 */
}

/* 기본 글꼴 크기와 줄 높이 설정 */
body {
    font-size: 14px;
    letter-spacing:-0.4px;
}

/* 텍스트 선택 비활성화 */
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* 입력, 텍스트영역 및 선택 요소 스타일 제거 */
input, textarea, select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0; /* 기본 border radius 제거 */
    border: 1px solid #ccc; /* 일관된 스타일링을 위해 테두리 추가 */
    outline: none;
    padding: 8px; /* 필요에 따라 패딩 조정 */
    font-family: inherit;
}

/* 반응형 이미지 */
img {
    max-width: 100%;
    height: auto;
}
body::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
    width: 4px;  /* 스크롤바의 너비 */
    height:8px;
}

body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    background: #f4f4f4; /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    background:#fff;  /*스크롤바 뒷 배경 색상*/
}

.pt0{padding-top:0 !important}
.ml0{margin-left:0 !important}

.ml10{margin-left:10px !important;}
.ml24{margin-left:24px !important;}

.mt32{margin-top:32px !important}
.mt47{margin-top:47px !important;}
.wd33{flex: none !important;width:33% !important}

.tal{text-align: left !important;}
.tac{text-align: center !important;}
.tar{text-align: right !important;}

._flex{display:flex !important;justify-content:flex-start;align-items:center;}
.justi-con-sb{justify-content:space-between !important;}
._baseline{align-items: baseline;}

.info_txt{margin-top:5px;padding-left:20px;background:url(../images/ico_info_txt.svg) no-repeat left center;color:#666;font-size:12px;line-height:18px;}

.txt_point{color:#4CB01D !important}
._bold{font-weight:bold !important;}
.ico_picket{padding-left:20px;}

.header{position:fixed;top:0;left:0;right:0;overflow:hidden;display:flex;justify-content:space-between;align-items:center;padding:8px;height:56px;background:#fff;z-index:1000;}
.header .left{min-width: 40px;}
.header .right{display:flex;justify-content:space-between;align-items:center;min-width:40px;}

.header.tit{justify-content:flex-start;}
.header .btn_back{display:inline-block;width:40px;height:40px;background:url(../images/ico_arrow_back.svg) no-repeat center / 24px 24px;text-indent:-9999px;overflow: hidden;}
.header .titbox{flex:1;width:100%;text-align:center;margin:0 8px}
.header .titbox h2{font-size:18px;color:#111;font-weight:600;}
.header .schbox{margin-left:12px;border-radius:8px;background:#f4f4f4;}
.header .schbox .reset{} 

/* 검색영역 */
.iptbox{display:flex;justify-content:space-between;padding:16px 14px;border-radius:12px;background:#fff;}
.reset{width:20px;height:20px;background:url(../images/ico_ipt_close.svg) no-repeat center; text-indent:-9999px;overflow:hidden;}

.schbox{position:absolute;top:16px;left:16px;right:16px;width:calc(100% - 32px);z-index: 1;}
.schbox .btn_ipt{padding:0 0 0 24px;border:0;width:100%;height:20px;line-height:20px;color:#888;background:transparent url(../images/ico_search.svg) no-repeat left;font-size:14px;font-weight:400;}

.schbox.type02{width:100%;position: unset;margin-top:6px;}
.schbox.type02 .iptbox{padding:12px 14px;background: #f4f4f4;}

/* TabComponent */
.tabs{display:flex;width:100%;border-bottom:1px solid #ddd;}
.tab{padding:14px 8px;background:#fff;color:#888;border:none;width:100%;cursor:pointer;font-size:16px;}
.tab:hover{}
.tab.active{border-bottom:2px solid #111;color:#111;font-weight:600;}
.tab_content{display:none;padding:24px 0px 40px;height:calc(100% - 52px);}
.tab_content.active{display:block;}

/* 셀렉트박스 Selectbox */
.selectbox select{padding:12px 34px 12px 14px;border:1px solid #ddd;border-radius:8px;width:100%;font-size:14px;line-height:21px;color:#111;background:url(../images/ico_select_arrow.svg) no-repeat right 17px center}

/* radio */
.radiobox input[type="radio"],
.checkbox input[type="checkbox"] {border: 0 !important;clip: rect(1px, 1px, 1px, 1px);height: 1px !important;overflow: hidden;padding: 0 !important;position: absolute !important;width: 1px !important;}
.radiobox .radio_label,
.checkbox .check_label {display: inline-flex;align-items: center;color: #111;font-size:16px;line-height:24px;cursor:pointer}
.radiobox .radio_label::before{content: '';display: block;margin-right: 4px;width: 21px;height: 21px;background:url(../images/ico_radio_df.svg) no-repeat left center;}
.radiobox input[type="radio"]:checked + label::before {background: url(../images/ico_radio_checked.svg) no-repeat left center;}
.checkbox .check_label::before {content: '';display: block;margin-right: 4px;width: 21px;height: 21px;background:url(../images/ico_checkbox.svg) no-repeat left center;}
.checkbox input[type="checkbox"]:checked + label::before {background: url(../images/ico_checkbox_on.svg) no-repeat left center;}

.chargebox .radiobox{margin-bottom: 16px;padding-bottom: 16px;border-bottom: 1px solid #eee;}

/* 체크박스 회색라운드 개별 */
.checkbox.point{margin-bottom:8px;padding-left:16px;font-weight:700;}
.checkbox_grp .checkbox{margin-top:6px;padding:14px 16px;border-radius:16px;background: #f4f4f4;}
.checkbox_grp .checkbox .check_label{color:#666;font-size:14px;}
.checkbox_grp .checkbox{background:#f4f4f4 url(../images/ico_arrow_right_gray.svg) no-repeat right 16px center;}

/* bulletbox */
.bulletbox{margin-top:8px;}
.bulletbox li{padding-left:12px;background:url(../images/ico_bullet01.png) no-repeat left 2px center; color:#888;font-size:12px;line-height:18px;}
.bulletbox li + li{margin-top:4px;}

/* 토글 스위치 */
.toggle_switch_box{padding:16px 0}
.toggle_switch_box.right{text-align:right;}
.toggle_switch_box label{display:inline-flex;align-items: center;cursor: pointer;}
.toggle_switch_box label > div > span{font-size:16px;white-space: nowrap;}
.toggle_switch_box input[type="checkbox"]{appearance:none;position: relative;margin-left:12px;border:1px solid #ddd;border-radius:25px;width:45px;height:28px;background:#ddd;cursor: pointer;}
.toggle_switch_box input[type="checkbox"]::before{content:"";position:absolute;top:50%;left:3px;transform:translateY(-50%);width:20px;height:20px;border-radius:50%;background:#fff;transition:left 250ms linear;}
.toggle_switch_box input[type="checkbox"]:checked{background-color:#4CB01D;border-color:#4CB01D;}
.toggle_switch_box input[type="checkbox"]:checked:before{left:20px;background:#fff;}
.toggle_labelbox{display: inline-flex;align-items:center;}

.toggle_switch_box.type02 > label{display:flex;justify-content: space-between;align-items: center;cursor: default;}

/* 툴팁박스 */
.tooltip_box{position: relative;} 
.tooltip_box button{margin-left:4px;width:16px;height:16px;border-radius: 100%;background:url(../images/ico_info_circle.svg) no-repeat center;}
.tooltip_box span{position: absolute;bottom:-50px;right:-10px;padding: 8px 12px;border-radius:8px;min-width:180px;line-height:16px;background-color:#000;color:#fff;text-align: left;font-size: 12px;}
.tooltip_box span.line2{bottom:-70px;}

.tooltip_box.right span{left:-10px;right: unset;}

.toggle_switch_box.type2{border-bottom:1px solid #eee;}
.toggle_switch_box.type2 label{display:flex;justify-content:space-between;align-items:center;}

/* table 레이아웃 */
.tbbox{width:100%;}
.table{width:100%;border-top:1px solid #111;}
.table .thead{}
.table .thead .row{background:#f4f4f4;}
.table .thead .row .cell{}
.table .tbody{}
.table .tbody .row{border-bottom:1px solid #ddd;}
.table .tbody .row .cell{color:#888;}
.table .tbody .row .cell.pt{color:#111;font-weight:600;}

.table .row{display:flex;justify-content:space-between;align-items:center; width:100%;}
.table .row .cell{flex:1;padding:14px 8px;color:#111;font-size:14px;text-align:center;}
.table .row .cell.wd60{width:60px;flex:none;}
.table .row .cell.tar{text-align:right;}

/* 레이아웃 */
.container{position: absolute;top:56px;left:0;right:0;bottom:0;padding-bottom:64px;background:#f4f4f4;-webkit-overflow-scrolling: touch;overflow:auto;}
.container.no_tabbar{padding-bottom:0;height:calc(100% - 56px);}
.container.no_tabbar .sub_contents{background:#f4f4f4;}
.sub_contents{overflow: auto;}
.sub_contents.bg_white{position:relative;display:flex;flex-direction:column;padding:0 16px 24px; height:100%;background:#fff !important;}
.sub_contents.roundbox{padding: 0;}
.sub_contents.roundbox section{padding: 24px 16px;}
.sub_contents.roundbox section:last-of-type{padding-bottom:40px;}

footer {position: fixed;bottom: 0;left: 0;display: flex;justify-content: space-between;align-items: flex-end;padding:0 14px;width: 100%;height: 70px;background-color: #fff;z-index: 1000;}
footer button{padding-top:42px;padding-bottom:12px;width:62px;height:100%;color:#888;font-size:10px;font-weight:700;}
footer .tabbar01{background:url(../images/ico_footer_tabbar01.svg) no-repeat top 12px center}
footer .tabbar02{background:url(../images/ico_footer_tabbar02.svg) no-repeat top 12px center}
footer .tabbar03{background:url(../images/ico_footer_tabbar03.svg) no-repeat top 12px center}
footer .tabbar04{background:url(../images/ico_footer_tabbar04.svg) no-repeat top 12px center}
footer .tabbar_main{width:70px;padding:0;background:url(../images/ico_footer_tabbar05.svg) no-repeat top center;text-indent:-9999px;overflow: hidden;}
footer .tabbar_main.on{background:url(../images/ico_footer_tabbar05_on.svg) no-repeat top center;}
footer .tabbar01.on{background:url(../images/ico_footer_tabbar01_on.svg) no-repeat top 12px center}
footer .tabbar02.on{background:url(../images/ico_footer_tabbar02_on.svg) no-repeat top 12px center}
footer .tabbar03.on{background:url(../images/ico_footer_tabbar03_on.svg) no-repeat top 12px center}
footer .tabbar04.on{background:url(../images/ico_footer_tabbar04_on.svg) no-repeat top 12px center}

.map_fix {position: fixed;right: 8px;bottom:68px;}
.map_fix button{padding:9px 12px 9px 34px;border-radius:113px;width:auto;background:#4CB01D url(../images/ico_map.svg) no-repeat left 8px center;color:#fff;font-size:12px;font-weight:600;white-space:nowrap;}

.df_tit{margin:0px 0 8px;}
.df_tit .txt{line-height:27px; font-size:18px;font-weight:700; color:#111;}

section{padding:0;border-radius:24px;margin-bottom:6px;background:#fff;}
section:first-of-type{border-top-left-radius:0;border-top-right-radius:0;}
section:last-of-type{border-bottom-left-radius:0;border-bottom-right-radius:0;padding-bottom:0px}
section + section{padding-top:24px}


.select_btn{position:relative;padding:0 17px 0 28px;border:0;height:24px;line-height:24px;background:transparent;color:#111;font-size:18px;font-weight:700;}
.select_btn:before{position:absolute;top:0;left:0;display:inline-block;content:'';width:24px;height:24px;background:url(../images/ico_mark.svg) no-repeat center;}
.select_btn:after{position:absolute;top:50%;right:0;transform:translateY(-50%);display:inline-block;content:'';width:13px;height:7px;background:url(../images/ico_select_arrow.svg) no-repeat center;}

.mypage_btn{overflow:hidden;width:24px;height:24px;background:url(../images/ico_mypage.svg) no-repeat center;text-indent:-9999px;}
.heart_btn{overflow:hidden;width:24px;height:24px;background:url(../images/ico_heart02.svg) no-repeat center;text-indent:-9999px;}
.heart_btn.on{background:url(../images/ico_heart_on.svg) no-repeat center}
.alarmbox{position: relative;margin-left:8px;}
.alarmbox .alarm_btn{overflow:hidden;margin-right:8px;width:24px;height:24px;background:url(../images/ico_bell.svg) no-repeat center;text-indent:-9999px;}
.alarmbox .cnt_txt{position:absolute;top:-5px;right:0;padding:3px 4px 3px 3px;border-radius:23px;width:22px;height:14px;line-height:7px;background:#ff2f2f;color:#fff;text-align:center;font-size:10px;font-weight:700;}

/* 회색라운드 탭버튼 */
.tabbox._scroll{overflow:auto;}
.tabbox > div{min-width:328px}
.tab_btn{display:flex;align-items:center;margin-bottom:10px;padding:12px 16px;border-radius:16px;background:#f4f4f4;word-break: keep-all;}
.tab_btn.type2{height:48px;}
.tab_btn .name{height:20px;line-height:20px;font-size:14px;font-weight:600;}
.tab_btn .round_txt{margin-left:4px;padding:2px 7px 2px 6px;border-radius:100px;height:21px;line-height:16px;background:#111;color:#fff;font-size:12px;font-weight:500;}
.tab_btn .price_txt{margin-left:4px;color:#111;font-size:16px;font-weight:700;}
.tab_btn .amount_txt{margin-left:4px;color:#111;font-size:14px;font-weight:400;}
.tab_btn + .tab_btn{margin-left:8px;}

/* 추천 검색어 영역 */
.keyword_grp{flex:1;padding-top:27px;background:#fff;height:100%}
.df_txt{margin-bottom:8px;}
.df_txt span{color:#111;font-size:12px;font-weight:400;}
.keyword_box{}
.keyword_box + .keyword_box{margin-top:32px}
.keyword_tagbox{display:flex;flex-wrap: wrap;}
.keyword_tagbox a,
.keyword_tagbox button{margin:4px 0 0 4px;padding:16px;border-radius:16px;background:#f4f4f4;font-size:14px;color:#333;letter-spacing:-1.8px;}
.keyword_tagbox.type02{display:flex;justify-content: space-between;align-items:center;margin-top:12px;width:100%;}
.keyword_tagbox.type02 button{flex:1;padding:0;border-radius:6px;height:32px;font-size:14px;color:#111;font-weight:600;}

.keyword_listbox{margin-top:16px}
.keyword_listbox li{display:flex;justify-content:space-between;align-items:center;height:40px}
.keyword_listbox li + li{margin: top 4px;}
.keyword_listbox li > div{margin-left:10px;width:115px}
.keyword_listbox li .txt{font-size:14px;color:#111;flex:1;line-height:21px;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient:vertical;word-break:break-word;overflow: hidden;}
.keyword_listbox li .date{font-size:14px; color:#888;}
.keyword_listbox li .reset{margin-left:22px}

.keyword_listbox li > a{font-size:14px; line-height:21px;color:#000;background:url(../images/ico_location_pin.svg) no-repeat left;}

/* 세차 선택 */
.cws_titbox{text-align:center;}
.cws_titbox h3{color:#000;font-size:18px;font-weight:700;}
.cws_titbox p{margin-top:12px;color:#888;font-size:14px;font-weight:400;}

.cws_zone_selectbox{padding:8px 0}
.cws_zone_selectbox ul{display:flex;align-items:center;flex-wrap: wrap;} 
.cws_zone_selectbox ul li{margin:8px 0 0 4px;padding:68px 16px 8px;background:#f4f4f4;border:1px solid #ccc;border-radius:14px;width:78px;height:97px;text-align:center;font-size:14px; font-weight:600;color:#111;opacity: 0.4;cursor: pointer;}
.cws_zone_selectbox ul li.on{background:#fff;opacity: 1;}
.cws_zone_selectbox ul li.active{background-color:#e6ffe3;border:1px solid #4cb01d;color:#4cb01d;opacity: 1;}

.cws_zone_selectbox.bay ul li{background:#f4f4f4 url(../images/ico_bay_close.svg) no-repeat top center;}
.cws_zone_selectbox.bay ul li.on{background: url(../images/ico_bay_df.svg) no-repeat top center;}
.cws_zone_selectbox.bay ul li.active{background:#E6FFE3 url(../images/ico_bay_select.svg) no-repeat top center;}

.cws_zone_selectbox.clean ul li{background:#f4f4f4 url(../images/ico_clean_close.svg) no-repeat top center;}
.cws_zone_selectbox.clean ul li.on{background: url(../images/ico_clean_df.svg) no-repeat top center;}
.cws_zone_selectbox.clean ul li.active{background:#E6FFE3 url(../images/ico_clean_select.svg) no-repeat top center;}

.cws_zone_selectbox.mat ul li{background:#f4f4f4 url(../images/ico_mat_close.svg) no-repeat top center;}
.cws_zone_selectbox.mat ul li.on{background: url(../images/ico_mat_df.svg) no-repeat top center;}
.cws_zone_selectbox.mat ul li.active{background:#E6FFE3 url(../images/ico_mat_select.svg) no-repeat top center;}

.cws_zone_selectbox ul.cws_detailbox li{display:flex;flex-direction:column;justify-content:space-between; flex:1;padding:12px 0;margin:0;height:143px;width:104px;font-weight:500;}
.cws_zone_selectbox ul.cws_detailbox li + li{margin-left:8px;}
.cws_zone_selectbox ul.cws_detailbox li .cnttxt{color:#888;}
.cws_zone_selectbox ul.cws_detailbox li .cnttxt2{margin-left:6px;color:#111;font-size:14px;font-weight: 700;}

.cws_bannerbox{position:relative;padding:20px;background:#231E3A; border-radius:16px;width: 100%;}
.cws_bannerbox img{width: 100%;}
.cws_bannerbox .notibox{display:none;position:absolute;bottom: 20px;left:50%;transform:translateX(-50%);padding:8px 16px;background:#fff;border-radius:180px;}
.cws_bannerbox .notibox.on{display: block;}
.cws_bannerbox .notibox span{color:#333;font-size:14px;line-height:21px;white-space:nowrap; font-weight:600;}

.money_listbox{display:flex;justify-content:space-between;align-items: center;margin:16px 0;}
.money_listbox.tit{margin:0;}
.money_listbox .left span{font-size:16px;color:#111;line-height: 20px;}
.money_listbox .right span{font-size:16px;}
.money_listbox.tit .left span{font-weight:bold;}
.money_listbox.tit span{font-size:20px}
.money_listbox.tit .right span:last-of-type{font-size:18px}

.tit_inputbox{display: flex;justify-content: space-between;align-items: center;padding:14px;border:1px solid #ddd;border-radius: 8px;}
.tit_inputbox + .tit_inputbox{margin-top:8px;}
.tit_inputbox .leftbox{color:#888;font-size:16px;line-height: 24px;}
.tit_inputbox .leftbox.on{color:#111;font-weight:bold;}
.tit_inputbox .rightbox{display: flex;align-items: center;}
.tit_inputbox .rightbox input[type="text"]{border:0;padding:0 4px;width:150px;color:#111;font-size:18px;font-weight:bold;}
.tit_inputbox .rightbox .btn_link{padding-right:14px;background:url(../images/ico_arrow_right.svg) no-repeat right center;line-height:29px;font-weight:600;}
.easy_pay{margin-top:8px}

.ico_money{padding-left:23px;color:#333;background:url(../images/ico_money.svg) no-repeat left center;font-size:14px;font-weight: 700;}
.ico_point{padding-left:23px;color:#333;background: url(../images/ico_point.svg) no-repeat left center;font-size:14px;font-weight: 700;}

/* 추천 세차장 */
.recbox{}
.recbox > p {margin:24px 0 10px;color:#333;font-size:16px; font-weight:400;}
.recbox .rec_conbox{padding:24px 0px;border-bottom:1px solid #eee;} 
.recbox .rec_conbox:last-of-type{border-bottom:0;padding-bottom:0;}
.rec_conbox{display:flex; justify-content:flex-start;align-items:center;padding:24px 0;}
.rec_conbox .rec_con_lt{position:relative;overflow:hidden;min-width:96px;height:96px;border-radius:16px;}
.rec_conbox .rec_con_lt > div{position: absolute;top:0;left:0;}
.rec_conbox .rec_con_lt div span:first-of-type{display:inline-block;padding:8px;border-radius:16px 0 12px 0;width:40px;height:24px;background:#000;opacity:0.5;}
.rec_conbox .rec_con_lt div span:last-of-type{position:absolute;top:6px;left:8px;color:#fff;font-size:12px;font-weight:700;}
.rec_conbox .rec_con_lt span.success{color:#ABE977 !important;}
.rec_conbox .rec_con_lt span.congested{color:#ff8e7f !important}
.rec_conbox .rec_con_lt span.finish{color:#fff !important;opacity:0.7;}
.rec_conbox .rec_con_lt img{display:inline-block;width:97px;height:100%;background:#ABE977}
.rec_conbox .rec_con_rt{margin-left:12px;min-width:186px}
.rec_conbox .rec_con_rt > div{display:flex;align-items:center;justify-content:flex-start;}
.namebox p{color:#111;font-size:16px;font-weight:700;}
.namebox i{width:18px;height:18px;margin-left:10px;}
.namebox span{margin-left:4px;color:#111;font-size:14px;font-weight:600;letter-spacing:0.02px;}
.earned_pointbox{margin:8px 0 10px;}
.earned_pointbox span:first-of-type{color:#4CB01D;font-size:13px;font-weight: 400;margin-right:6px;}
.earned_pointbox span:last-of-type{color:#4CB01D;font-size:13px;font-weight:600;}
.earned_pointbox.nopoint span{color:#888;font-size:13px;}
.addressbox{margin:6px 0;}
.addressbox span:first-of-type{color:#111;font-size:13px;font-weight:600;margin-right:6px}
.addressbox span:last-of-type{color:#888;font-size:13px;font-weight:400;}
.addressbox.type02{display: flex; flex-direction: column;align-items:flex-start !important;}
.addressbox.type02 .addr_selectbox{margin-top:8px}
.addressbox.type02 .addr_selectbox li{margin-top:4px}
.addressbox.type02 .addr_selectbox li span{color:#111;font-size:14px}
.addressbox.type02 .addr_selectbox li span:first-of-type{margin-right:8px}
.addressbox.type02 .addr_selectbox li.dday span{font-weight:bold ;}
.addressbox.type02 .addr_selectbox li.day_off span{margin:6px 0;color:#ff8e7f;font-weight:bold;}
.addressbox.type02 .addr_selectbox li.info_txt{margin:6px 0;}
div.tagbox{display:block;overflow-x:auto;white-space:nowrap;}
div.tagbox > div{display:flex;align-items: center;justify-content:flex-start;}
div.tagbox span{padding:4px;border-radius:4px;background:#e7f3f2;color:#79a19e;font-size:10px;font-weight:400;}
div.tagbox span + span{margin-left:4px;}

.recbox .rec_conbox.rec{padding:16px;border:1px solid #ddd;border-radius:14px;}

.rec_conbox.type02{position: relative; padding:0}
.rec_conbox.type02 span{line-height:19px;}
.rec_conbox.type02 .namebox p{line-height:30px;font-size:22px;}
.rec_conbox.type02 .namebox i{width:16px;height:16px;}
.rec_conbox.type02 .namebox span{font-size:12px}

.rec_info_box{position: absolute;top:0;right:0;}
.rec_info_box a{width:44px;height:44px;}
.rec_info_box a.phone{background:url(../images/ico_rec_phone.svg) no-repeat center}
.rec_info_box a.arrow_right{background:url(../images/ico_rec_arrow_right.svg) no-repeat center}

.ico_select_circle{padding-right:20px;background:url(../images/ico_select_circle.svg) no-repeat right center;}

/* 세차장 상세화면 */
.main_detail_imgbox {margin: 0 -12px 24px;}
.main_detail_imgbox img{border-radius:16px;width:100%;height:232px;}

.wash_selectbox + .wash_selectbox,
.review_list_box + .review_list_box{margin-top:24px;padding-top:24px;border-top:1px solid #eee;}

.wash_selectbox .cws_zone_selectbox ul li{}
.wash_selectbox .cws_zone_selectbox ul li .tit{line-height:20px;color:#333;font-size:14px;font-weight:600;}
.wash_selectbox .cws_zone_selectbox ul li.bay{background:#f4f4f4 url(../images/ico_bay_close.svg) no-repeat center}
.wash_selectbox .cws_zone_selectbox ul li.bay.on{background: url(../images/ico_bay_df.svg) no-repeat center}
.wash_selectbox .cws_zone_selectbox ul li.clean{background:#f4f4f4 url(../images/ico_clean_close.svg) no-repeat center}
.wash_selectbox .cws_zone_selectbox ul li.clean.on{background: url(../images/ico_clean_df.svg) no-repeat center}
.wash_selectbox .cws_zone_selectbox ul li.mat{background:#f4f4f4 url(../images/ico_mat_close.svg) no-repeat center}
.wash_selectbox .cws_zone_selectbox ul li.mat.on{background: url(../images/ico_mat_df.svg) no-repeat center}

.review_list_box{margin-bottom:24px;}

.review_writebox{display:flex;justify-content: space-between;align-items: center;margin-bottom:8px;padding: 16px;background:#f4f4f4;border-radius:9px}
.review_writebox .left{display: flex;align-items:center;}
.review_writebox .score{margin-left:2px;color:#111;font-size:20px;font-weight:600;}
.review_writebox .grade{margin-left:6px;font-size:14px;color:#888;}
.review_list_grp{margin-top:24px}

.review_titbox{display: flex;align-items: center;justify-content: space-between;margin-bottom:12px}
.review_titbox .name_datebox span{display:inline-block;line-height:21px;color:#888;font-size:14px;}
.left_line_small{display:inline-block;margin:0 12px;width: 1px;height: 10px;border:1px solid #eaeaea;}
.left_line_small.type2{margin:0 8px;border:1px solid #ddd;}
.img_listbox{overflow:auto;}
.img_listbox ul{display: flex; align-items: center;width:100%;}
.img_listbox ul li{overflow:hidden;margin-right:8px;border-radius:8px;min-width:84px;width:84px;height: 84px;}
.img_listbox ul li:last-of-type{margin-right:0;}
.img_listbox ul li img{width:100%;height:100%;}

.review_conbox{margin-top:12px;}
.review_conbox p{font-size:16px;color:#333;line-height:24px;}
.review_updownbox{display:inline-block;margin-top:12px;padding:8px 16px;border:1px solid #ddd;border-radius:36px;background:#fff;}
.review_updownbox button{width:24px;height:24px;text-indent:-9999px;overflow: hidden;}
.review_updownbox button + button{margin-left:16px}
.ico_review_up{background:url(../images/ico_review_up.svg) no-repeat center;}
.ico_review_down{background:url(../images/ico_review_down.svg) no-repeat center;}
.ico_review_up.on{background:url(../images/ico_review_up_on.svg) no-repeat center;}

.review_morebox{margin:8px 0 24px 0;text-align: center;}
.ico_review_more{padding-left:20px;width:140px;height:44px;background:#f4f4f4 url(../images/ico_more_arrow_down.png) no-repeat left 36px center / 16px 16px;color:#111;border-radius:100px;font-size:14px;font-weight:600;}

.ico_fav{display: inline-block;width:18px;height:18px; background:url(../images/ico_rec_fav.svg) no-repeat center;text-indent:-9999px;overflow:hidden;}
.ico_fav.off{display: inline-block;width:18px;height:18px; background:url(../images/ico_fav_off.svg) no-repeat center / 18px 18px;text-indent:-9999px;overflow:hidden;}
.ico_fav.type2{width:15px;height: 14px;background-size:15px 14px;}
.ico_fav.type2.off{width:15px;height:14px;background-size:17px 16px;}
.ico_review_write{padding-left:24px;color:#111;font-size:14px;font-weight:600;background:url(../images/ico_review_edit.svg) no-repeat left center;}

.store_news_box{padding:16px;border-radius:14px;background:#f4f4f4;}
.store_news_box + .store_news_box{margin-top:12px}
.store_news_box .titbox{margin-bottom:12px;padding-bottom:12px;border-bottom: 1px solid #ddd;}
.store_news_box .tit{color:#111;line-height:24px;font-size:16px;font-weight: 600;margin-bottom:4px;}
.store_news_box .txt{line-height:21px;color:#888;font-size:14px;font-weight:400;}
.store_news_box .infobox{display: flex;align-items: center;margin-top:8px;line-height: 19px;}
.store_news_box .infobox span{display:inline-block;font-size:14px;font-weight:600;}
.store_news_box .infobox .tit{margin-bottom:0;color:#888;}
.store_news_box .infobox .con{color:#333;line-height:21px;}

/* preferences 환경설정 */
.preferences_grp{}
.preferences_grp .df_tit{margin-top:42px}
.preferences_grp .df_tit:first-of-type{margin-top:16px;}

.preferences_grp .toggle_switch_box{border-bottom:1px solid #eee}

/*탭버튼 리스트 */
.sub_filter_box{padding-top:20px;}
.sub_filter{overflow-x:auto;display:flex;justify-content:flex-start;align-items:center;white-space:nowrap;}
.sub_filter li{padding:10px 14px;border-radius:25px;background:#f4f4f4;}
.sub_filter li + li{margin-left:8px}
.sub_filter li button{padding-left:20px;color:#888;font-size:14px;font-weight:400;}
.sub_filter li.arrow button{padding:0 20px 0 0;}
.sub_filter li.on{background:#333;}
.sub_filter li.on button{color:#fff;}

.sub_filter li .ico_subtab01{background:url(../images/ico_subtab01.svg) no-repeat left center;}
.sub_filter li .ico_subtab02{background:url(../images/ico_subtab02.svg) no-repeat left center;}
.sub_filter li .ico_subtab03{background:url(../images/ico_subtab03.svg) no-repeat left center;}
.sub_filter li .ico_subtab04{background:url(../images/ico_subtab04.svg) no-repeat right center;}

.sub_filter li.on .ico_subtab01{background:url(../images/ico_subtab01_on.svg) no-repeat left center;}
.sub_filter li.on .ico_subtab02{background:url(../images/ico_subtab02_on.svg) no-repeat left center;}
.sub_filter li.on .ico_subtab03{background:url(../images/ico_subtab03_on.svg) no-repeat left center;}
.sub_filter li.on .ico_subtab04{background:url(../images/ico_subtab04_on.svg) no-repeat right center;}

.sub_filter_box.type2{padding-top:0;}
.sub_filter_box.type2 .sub_filter{flex-direction:column;}
.sub_filter_box.type2 .sub_filter li{margin-left:0;padding:14px;border: 1px solid #f4f4f4;width: 100%;background-color:#ececec; cursor: pointer;}
.sub_filter_box.type2 .sub_filter li + li{margin-top:8px}
.sub_filter_box.type2 .sub_filter li.on{border:1px solid #000;border-radius:100px;background:#fff;}
.sub_filter_box.type2 .sub_filter li button{padding-left:24px;min-width:32px;color:#111;font-weight:600;text-align:center;background-size:18px 18px !important;}
.sub_filter_box.type2 .sub_filter li .ico_cafe{background:url(../images/ico_cafe.png) no-repeat left center;}
.sub_filter_box.type2 .sub_filter li .ico_rice{background:url(../images/ico_rice.png) no-repeat left center;}
.sub_filter_box.type2 .sub_filter li .ico_dog{background:url(../images/ico_dog.png) no-repeat left center;}
.sub_filter_box.type2 .sub_filter li .ico_print{background:url(../images/ico_print.png) no-repeat left center;}
.sub_filter_box.type2 .sub_filter li .ico_sponge{background:url(../images/ico_sponge.png) no-repeat left center;}
.sub_filter_box.type2 .sub_filter li .ico_repair{background:url(../images/ico_repair.png) no-repeat left center;}

.sub_filter_box.type2.box_type .sub_filter{flex-direction:row;flex-wrap:wrap;margin-left:-8px}
.sub_filter_box.type2.box_type .sub_filter li{border:0;width:auto;border-radius: 8px;margin:8px 0 0 8px;padding:12px 0px;width:76px;text-align: center;}
.sub_filter_box.type2.box_type .sub_filter li button{padding:36px 0 0;background-position: top center !important;background-size:32px 32px !important; color:#888;font-size:12px; font-weight:400;}

.direction-column{flex-direction:column;}
._line{margin:24px 0;border-bottom:1px solid #eee;}
._line.small{margin:12px 0;border-bottom:1px solid #ddd;}
._line.medium{margin:16px 0;}

.btnbox{display:flex;align-items: center;margin-top:24px}
.btn_cm{flex:1;padding:0 16px;border-radius:12px;width:100%;height:56px;font-size:16px;font-weight: 600;color:#111;}
.btn_cm + .btn_cm{margin-left:8px}
.btn_cm.conf {background:#111;color:#A4F65F;}
.btn_cm.stop{background:#E95C49 url(../images/ico_cws_stop.svg) no-repeat left calc(50% - 58px) top 18px;color:#fff;}
.btn_cm.cancle{background:#ececec;color:#111}
.btn_cm.conf.start{background:#111 url(../images/ico_cws_start.svg) no-repeat left calc(50% - 58px) top 18px;}
.sub_btnbox .btn_cm{border:1px solid #ccc;border-radius:6px;width:auto;height:28px;line-height:21px;padding:0 12px; font-size:14px;white-space:nowrap;}
.btn_cm.add_point{background:#111 url(../images/ico_add_point_circle.svg) no-repeat left calc(50% - 48px) top 19px; color:#A4F65F;}
.btn_more{text-align: center;}
.btn_more a{padding-right:14px;background:url(../images/ico_btn_more_arrow.svg) no-repeat right center; font-size:14px;  line-height: 21px; font-weight: 600;}
.btnbox + .btn_more{margin-top:16px;}

/* 팝업 */
.pop_contents{padding:24px 16px;background:#fff;border-radius: 16px;}
.pop_header{display:flex;justify-content:space-between;align-items:center;height:40px;padding:0 0 12px;border-bottom:1px solid #ddd}
.pop_header h2{color:#111;font-size:18px;font-weight:600;}
.pop_header .close{width:24px;height:25px; background:url(../images/ico_pop_close.svg) no-repeat center;text-indent: -9999px;overflow: hidden;}

.pop_header.type02 h2{flex:1;text-align: center;}
.pop_contents .contents_box{margin-top:24px;}
.pop_contents .contents_box .tit,
.pop_contents .contents_box .tit *{font-size:18px;font-weight: 600;line-height:27px;text-align: center;}
.pop_contents .contents_box .txt{margin-top:8px;font-size:14px;text-align: center;}

.pop_contents .btnbox .btn_cm{font-size:14px}

/* alert 팝업 */
.messagebox{padding:0 24px}
.messagebox p{font-size:16px;color:#111;text-align: center;}

/* 바텀시트 팝업 */
.bottom_sheet{position: fixed;bottom: -100%;left: 0;border-top-left-radius:24px;border-top-right-radius:24px;width: 100%;height:100%;background-color: #fff;transition: bottom 0.3s ease;}
.bottom_sheet_content {flex:1;height: 100%;overflow: auto;}
.bottom_sheet.open {bottom: 0;}
.bottom_sheet .header{position: absolute;top:22px;}
.bottom_sheet .container{top:72px;height:calc(100% - 96px)}

/* 주소설정 */
.addr_setting_grp{display:none;justify-content: center;flex-direction:column;align-items: center;margin-top:16px;}

.addr_schbox{width:100%}
.addr_schbox a{margin-bottom:16px;padding:68px 28px 12px;border-radius:14px;width:100%;background:#f2fbf0 url(../images/ico_addr_mylocation.svg) no-repeat top 12px left 50%; color:#111;font-size:14px;line-height:21px;text-align: center;}
.addr_listbox{margin-top:1px;width:100%;}
.addr_listbox li{width:100%;}
.addr_listbox li + li{margin-top:8px;}
.addr_listbox li a{padding:28px 44px 28px 72px;border:1px solid #ddd; border-radius:14px;width:100%;}
.addr_listbox li.default a{position: relative;}
.addr_listbox li.default a::after{position: absolute;right:16px;top:50%;transform:translateY(-50%); content:"";display:inline-block;width:16px;height:16px;background:url(../images/ico_addr_plus.svg) no-repeat center;}
.addr_listbox li .addr_addbox{background:url(../images/ico_addr_home.svg) no-repeat left 16px center;}
.addr_listbox li .addr_comp_addbox{background:url(../images/ico_addr_comp.svg) no-repeat left 16px center;}

.addr_listbox li .name{line-height:24px;font-size:16px;font-weight: 600;}
.addr_listbox li .subtxt_box{display:none;margin-top:4px;}
.addr_listbox li .subtxt_box span{display:block;color:#888;font-size:12px;line-height:16px;}

.addr_listbox li.active a{padding:15px 44px 15px 72px}
.addr_listbox li.active .subtxt_box{display:block;}
.addr_listbox li.active.on a{position: relative; border:1px solid #111;}
.addr_listbox li.active.on a::after{position: absolute;right:16px;top:50%;transform:translateY(-50%); content:"";display:inline-block;width:16px;height:16px;background:url(../images/ico_addr_arrow.svg) no-repeat center;}

/* 카드관리*/
.addr_listbox li .card_manage{position: relative;background:url(../images/ico_card.svg) no-repeat left 16px center;}
.addr_listbox li .card_manage .subtxt_box .sub_btnbox{position: absolute;right:42px;top:24px;}
/* 주소관리 */
.addr_manage_grp{display:none;margin-top:16px;}
.addr_manage_grp .sub_btnbox{margin-top:12px;}
.addr_manage_grp .sub_btnbox .btn_cm + .btn_cm{margin-left:0px;}
/* 주소검색 */
.addr_sch_grp{display:none;margin-top:16px;height:100%;background:#ccc;}

/* 주소 상세 정보 */
.addr_sch_detail_grp{display:none;}
.addr_detail_name{margin-top:24px;color:#111;font-size:20px;line-height:28px;font-weight:600;}
.addr_detail_name2{padding:6px 0 14px;border-bottom:1px solid #ddd;color:#333;font-size:16px;line-height:24px;}
.detail_txtbox{display:flex;flex-direction:column;justify-content: center; margin-top:24px;}
.detail_txtbox span{margin-bottom:6px; font-size:12px;font-weight:600;color:111;line-height:18px;}
.detail_txtbox input[type="text"]{padding:12px 14px;border-radius:8px;color:#111;font-size:14px;}

.addr_setting_on .addr_setting_grp{display:flex;}
.addr_manage_on .addr_manage_grp{display:block;}
.addr_sch_on .addr_sch_grp{display:block; height: calc(100% - 66px);}
.addr_manage_on .schbox.type02,
.detail_on .schbox.type02{display: none;}
.detail_on .addr_sch_detail_grp{display:flex;flex-direction:column;height: 100%;}
.detail_on .addr_sch_detail_grp .sch_detailbox{flex:1;}

.pop_conbox.type02{flex:1;}
.pop_conbox .tit{padding:32px 0;color:#111;font-weight:600;font-size:20px;line-height:30px;}

/* 스와이퍼 슬라이드 */
.swiper {display: block;width: 100%;min-height: 160px;}

.swiper-slide {
    overflow: hidden;
    border-radius: 16px;
    text-align: center;
    font-size: 18px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination{bottom:34px !important}
.swiper-pagination-bullet{width:5px !important;height: 5px !important;}
.swiper-pagination-bullet{background:#fff !important;opacity: 0.3 !important;}
.swiper-pagination-bullet-active{background:#fff !important;opacity: 0.7 !important;}

.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9000;
}
.dim.on{display:block;}

.slide-popup {
    display: none;
    position: fixed;
    bottom: -100%;
    left:0;
    right:0;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9001;
}

.slide-in {display:block !important;animation: slideIn 0.5s forwards;}
.slide-out {display:block !important;animation: slideOut 1s forwards;}
@keyframes slideIn {
    from {bottom:-100%; opacity: 0; }
    to {bottom:0; opacity: 1; }
}
@keyframes slideOut {
    from {bottom:0; opacity: 1; }
    to { bottom:1; opacity: 0; }
}

.slide-popup .pop_contents{padding: 0;}
.slide-popup .pop_contents li{text-align: center;}
.slide-popup .pop_header{border:0;}
.slide-popup .contents_box{margin-top:0;}

.popup-content {
    text-align: center;
}


.show {
    display: block !important;
}
