@charset "utf-8";


h3{font-size: 16px;font-weight: 700;}
h3:first-child{margin-top: 0;}
.list_point li{display: flex;align-items: center;height: 59px;border-bottom: 1px solid #eee;}
.list_point li .tit{font-size: 16px;line-height: 140%;}
.list_point li .num{margin-left: auto;font-size: 18px;font-weight: 700;box-shadow: inset 0 -12px 0 #E6FFE3;padding: 2px;}
.list_point li .num::after{content: 'P';margin-left: 4px;font-weight: 400;font-size: 16px;}

.box_history h3{margin-top: 43px;}
.btn_history{display: flex;align-items: center;gap: 8px;margin-top: 12px;}
.btn_history button{padding: 10px 16px;height: 40px;box-sizing: border-box;border-radius: 25px;font-size: 14px;font-weight: 500;background:#F4F4F4;}
.btn_history button.on{background:#333333;color:#fff;}

.list_history{margin-top: 16px;}
.list_history > li{border: 1px solid #ddd;border-radius: 14px;padding:16px}
.list_history > li + li{margin-top: 8px;}
.list_history > li .top{display: flex;align-items: flex-start;}
.list_history > li .top .badge{background: #DEF7E4;color:#097E25;display: flex;align-items: center;justify-content: center;min-width: 40px;height: 23px;border-radius: 6px;font-size: 10px;font-weight: 700;}
.list_history > li .top .right{margin-left: auto;}
.list_history > li .top .date{font-size: 12px;line-height: 150%;color:#888}
.list_history > li .top .num{display: flex;align-items: center;font-size: 16px;font-weight: 700;line-height: 150%;justify-content: flex-end;color:#4CB01D}
.list_history > li .top .num::after{content: 'ì›';font-size: 14px;font-weight: 400;margin-left: 3px;}
.list_history > li ul{margin-top: 12px;}
.list_history > li ul li{display: flex;align-items: center;font-size: 14px;line-height: 150%;}
.list_history > li ul li + li{margin-top: 12px;}
.list_history > li ul li .tit{color:#888}
.list_history > li ul li .txt{color:#111;margin-left: auto;}
.list_history > li.use .badge{background: #FFEDED;color:#E95C49;}
.list_history > li.use .num{color:#E95C49}

.filter_history{display: flex;align-items: center;height: 40px;margin-top: 8px;}
.filter_history span{font-size: 14px;font-weight: 500;line-height: 150%;color:#333}
.filter_history span + span{position: relative;margin-left: 8px;padding-left: 8px;}
.filter_history span + span::before{content: '';position: absolute;left: 0;border-left: 1px solid #eee;height: 12px;top: 4px;}
.filter_history .btn_filter{width: 40px;height: 40px;display: inline-block;background:url(../images/ico_filter.svg) no-repeat center;border:1px solid #ccc;border-radius: 50%;margin-left: auto;}

.grp_form > p.title{font-weight: 700;text-align: left;font-size: 15px;color: #212529;margin-bottom: 8px;}
.grp_form > h3{margin-bottom: 8px;}
.grp_form input[type="text"],
.grp_form input[type="password"]{width:100%;padding:0 14px;height: 44px;background: #fff;border-radius: 8px;flex:1;box-sizing: border-box;font-weight: 400;font-size: 14px;}
.grp_form + .grp_form{margin-top: 24px;}

.grp_flex{display: flex;align-items: center;gap:4px}
.grp_flex > *{flex:1}
.grp_flex > span,
.grp_flex > button{flex:none}
.grp_flex + .grp_flex{margin-top: 8px;}

.grp_radio{display: flex;gap: 8px;}
.grp_radio input{display: none;}
.grp_radio label{flex:1;padding: 0;font-weight: 500;font-size: 14px;color: #888;border: 1px solid transparent;background: #F8F8F8;border-radius: 8px;box-sizing: border-box;cursor: pointer;height: 44px;display: flex;align-items: center;justify-content: center;}
.grp_radio input[type="radio"]:checked + label{border-color:#111;color:#111;background: #fff;}
.grp_radio.bg{background: #F8F8F8;padding: 4px;gap:0;border-radius: 8px;}

.grp_cal{display: inline-flex;align-items: center;position: relative;}
.grp_cal input[type="text"]{width: 100%;padding: 0 40px 0 14px;}
.grp_cal button{position: absolute;top:6px;right:7px;width: 32px;height: 32px; background: url(../images/ico_cal.svg) no-repeat center; }
.grp_cal input[type="text"]:read-only + button{opacity: 0.4;}

.box_tit{display: flex;align-items: center;margin: 0 0 8px 0;}
.box_tit .rt{margin-left: auto;}
.box_tit h3{margin: 0;}

.btn_link{font-size:14px;font-weight: 500;line-height: 150%;color:#111;padding-right: 14px;background: url(../images/ico_arrow_right.png) no-repeat center right;}
.btn_sub{display: flex;align-items: center;justify-content: center;height: 44px;text-align: center;border: 1px solid #eee;border-radius: 8px;width: 100%;color:#111;font-size: 14px;font-weight: 500;;}
.btn_sub.logout::before{content: '';display: inline-block;background: url(../images/ico_logout.svg) no-repeat center;width: 16px;height: 16px;margin-right: 4px;}
.btn_gray{display:block;margin: 16px auto 0;font-size: 16px;line-height: 150%;color:#888;text-decoration: underline;text-align: center;}

.img_my{position: relative;width: 72px;height: 72px;border-radius: 50%;margin: 16px auto;}
.img_my a{position: relative;width: 72px;height: 72px;overflow: hidden;border-radius: 50%;}
.img_my::after{content: '';position: absolute;bottom: 0;right: 0;width: 26px;height: 26px;border-radius: 50%;border:1px solid #ddd;background: #fff url(../images/ico_camera.svg) no-repeat center;z-index: 1;box-sizing: border-box;}

.list_info{border:1px solid #eee;background: #f8f8f8;box-sizing: border-box;border-radius: 16px;padding: 12px 20px;margin-bottom: 16px;}
.list_info li{display: flex;align-items: flex-start;}
.list_info li .tit{font-size: 16px;line-height: 150%;color:#888;flex:none;margin-right: 24px;}
.list_info li .txt{font-size: 16px;font-weight: 500;line-height: 150%;color:#111;margin-left: auto;word-break: break-word;text-align: right;}
.list_info li + li{margin-top: 12px;}