@charset "utf-8";


h3{font-size: 16px;font-weight: 700;}
h3:first-child{margin-top: 0;}
.list_point li{display: flex;align-items: center;height: 59px;border-bottom: 1px solid #eee;}
.list_point li .tit{font-size: 16px;line-height: 140%;}
.list_point li .num{margin-left: auto;font-size: 18px;font-weight: 700;box-shadow: inset 0 -12px 0 #E6FFE3;padding: 2px;}
.list_point li .num::after{content: 'P';margin-left: 4px;font-weight: 400;font-size: 16px;}

.box_history h3{margin-top: 43px;}
.btn_history{display: flex;align-items: center;gap: 8px;margin-top: 12px;}
.btn_history button{padding: 10px 16px;height: 40px;box-sizing: border-box;border-radius: 25px;font-size: 14px;font-weight: 500;background:#F4F4F4;}
.btn_history button.on{background:#333333;color:#fff;}

.list_history{margin-top: 16px;}
.list_history > li{border: 1px solid #ddd;border-radius: 14px;padding:16px}
.list_history > li + li{margin-top: 8px;}
.list_history > li .top{display: flex;align-items: flex-start;}
.list_history > li .top .badge{background: #DEF7E4;color:#097E25;display: flex;align-items: center;justify-content: center;min-width: 40px;height: 23px;border-radius: 6px;font-size: 10px;font-weight: 700;}
.list_history > li .top .right{margin-left: auto;}
.list_history > li .top .date{font-size: 12px;line-height: 150%;color:#888}
.list_history > li .top .num{display: flex;align-items: center;font-size: 16px;font-weight: 700;line-height: 150%;justify-content: flex-end;color:#4CB01D}
.list_history > li .top .num::after{content: '원';font-size: 14px;font-weight: 400;margin-left: 3px;}
.list_history > li ul{margin-top: 12px;}
.list_history > li ul li{display: flex;align-items: center;font-size: 14px;line-height: 150%;}
.list_history > li ul li + li{margin-top: 12px;}
.list_history > li ul li .tit{color:#888}
.list_history > li ul li .txt{color:#111;margin-left: auto;}
.list_history > li.use .badge{background: #FFEDED;color:#E95C49;}
.list_history > li.use .num{color:#E95C49}

.filter_history{display: flex;align-items: center;height: 40px;margin-top: 8px;}
.filter_history span{font-size: 14px;font-weight: 500;line-height: 150%;color:#333}
.filter_history span + span{position: relative;margin-left: 8px;padding-left: 8px;}
.filter_history span + span::before{content: '';position: absolute;left: 0;border-left: 1px solid #eee;height: 12px;top: 4px;}
.filter_history .btn_filter{width: 40px;height: 40px;display: inline-block;background:url(../images/ico_filter.svg) no-repeat center;border:1px solid #ccc;border-radius: 50%;margin-left: auto;}

.grp_form > p.title{display: flex;align-items: center;font-weight: 500;text-align: left;font-size: 12px;line-height: 150%;color: #111111;margin-bottom: 6px;}
.grp_form > p.title.req::after{content: '';display: inline-block;width: 4px;height: 4px;background: #FF8E7F;border-radius: 2px;margin-left: 4px;}
.grp_form > h3{margin-bottom: 8px;}
.grp_form input[type="text"],
.grp_form input[type="password"],
.grp_form select{width:100%;padding:0 14px;height: 44px;background: #fff;border-radius: 8px;box-sizing: border-box;font-weight: 400;font-size: 14px;}
.grp_form select{padding:12px 34px 12px 14px;background:url(../images/ico_select_arrow.svg) no-repeat right 17px center}
.grp_form input[type="text"]:focus,
.grp_form input[type="password"]:focus{border-color: #111;}
.grp_form input[type="text"]:disabled,
.grp_form input[type="password"]:disabled{color: #888;background: #F1F1F1;border-color: #F1F1F1;}
.grp_form input[type="text"].error,
.grp_form input[type="password"].error{border-color: #FF8E7F;}
.grp_form .error + .txt_info{color:#E95C49}
.grp_form .error + .txt_info::before{background: #E95C49;}
.grp_form .txt_info{display: flex;align-items: baseline;font-size: 14px;line-height: 150%;color:#888;margin-top: 6px;}
.grp_form .txt_info::before{content: '';position: relative;top:-4px;width: 3px;height: 3px;border-radius: 50%;margin-right: 4px;margin-left: 2px;background: #888;}
.grp_text {font-size: 16px;line-height: 150%;color:#333}
.grp_img{text-align: center;margin: 32px 0;}
.grp_time{position: relative;}
.grp_time input[type="text"]{padding-right: 48px;}
.grp_time span{position: absolute;right: 12px;top:15px;font-size: 14px;color: #E95C49;}
.grp_form + .grp_form{margin-top: 24px;}
.grp_text + .grp_form{margin-top: 16px;}
.box_gray .btn_cm{font-size: 14px;font-weight: 500;height: 44px;margin-top: 36px;}

.grp_flex{display: flex;align-items: center;gap:8px}
.grp_flex > *{flex:1}
.grp_flex > span,
.grp_flex > button,
.grp_flex > *[style*="width"]{flex:none}
.grp_flex + .grp_flex{margin-top: 8px;}
.grp_flex .btn_form{}
.span_passowrd{flex:none;display: inline-flex;align-items: center;gap: 4px}
.span_passowrd span{width: 12px;height: 12px;background-color: #111;border-radius: 50%;}

.grp_radio{display: flex;gap: 8px;}
.grp_radio input{display: none;}
.grp_radio label{flex:1;padding: 0;font-weight: 500;font-size: 14px;color: #888;border: 1px solid transparent;background: #F8F8F8;border-radius: 8px;box-sizing: border-box;cursor: pointer;height: 44px;display: flex;align-items: center;justify-content: center;}
.grp_radio input[type="radio"]:checked + label{border-color:#111;color:#111;background: #fff;}
.grp_radio.bg{background: #F8F8F8;padding: 4px;gap:0;border-radius: 8px;}

.grp_cal{display: inline-flex;align-items: center;position: relative;}
.grp_cal input[type="text"]{width: 100%;padding: 0 40px 0 14px;}
.grp_cal button{position: absolute;top:6px;right:7px;width: 32px;height: 32px; background: url(../images/ico_cal.svg) no-repeat center; }
.grp_cal input[type="text"]:read-only + button{opacity: 0.4;}

.grp_pw{position: relative;}
.grp_pw input[type="text"]{width: 100%;padding: 0 40px 0 14px;}
.grp_pw .btn_view{position: absolute;top:6px;right:7px;width: 32px;height: 32px; background: url(../images/ico_pw_view.svg) no-repeat center; }
.grp_pw .btn_remove{position: absolute;top:6px;right:7px;width: 32px;height: 32px; background: url(../images/ico_remove.svg) no-repeat center; }
.grp_pw .btn_remove + .btn_view {right:36px}

.box_tit{display: flex;align-items: center;margin: 0 0 8px 0;}
.box_tit .rt{margin-left: auto;}
.box_tit h3{margin: 0;}

.big_title{flex:none;font-size: 20px;font-weight: 500;line-height: 150%;}
.big_title + .chk_all{margin: 32px 0 24px;}
.big_title + .contents_box{margin-top: 24px;}
.contents_box{flex:1}
.contents_box + .box_btn{flex:none}

.box_gray{background: #F2F4F8;color:#333;border-radius: 14px;font-size: 16px;line-height: 150%;padding:16px}
.box_gray strong{font-weight: 700;}

.btn_form{font-size: 14px;font-weight: 500;line-height: 150%;color:#111;min-width: 80px;padding:0 10px;border:1px solid #ccc;height: 44px;border-radius: 8px;}
.btn_link{font-size:14px;font-weight: 500;line-height: 150%;color:#111;padding-right: 14px;background: url(../images/ico_arrow_right.png) no-repeat center right;}
.btn_sub{position:relative;display: flex;flex:1;align-items: center;justify-content: center;height: 44px;padding:0 16px;text-align: center;border: 1px solid #eee;border-radius: 8px;color:#111;font-size: 14px;font-weight: 500;}
.btn_sub.logout::before{content: '';display: inline-block;background: url(../images/ico_logout.svg) no-repeat center;width: 16px;height: 16px;margin-right: 4px;}
.btn_text{display:block;margin: 16px auto 0;font-size: 16px;line-height: 150%;color:#111;text-decoration: underline;text-align: center;}
.btn_text.gray{color:#888}

.grp_btn {display:flex;gap:8px}
.grp_btn .fn {flex:none}
.btn_sub.green {border-color:#4CB01D;background-color:#F2FBF0;color:#4CB01D}
.btn_sub.alarm::before {content:'';display:inline-block;width:24px;height:24px;background:url(../../cm/images/ico_alarm.svg) no-repeat center;vertical-align:middle;margin-right:2px}
.btn_sub.next::after {content:'';display:inline-block;width:12px;height:12px;margin-left:2px;background:url(../../cm/images/ico_prev.svg) no-repeat center;vertical-align:middle;margin-right:2px}
.btn_sub.review::before {content:'';display:inline-block;width:24px;height:24px;background:url(../../cm/images/ico_review.svg) no-repeat center;vertical-align:middle;margin-right:4px}

.btn_cm {display:flex;align-items:center;justify-content:center;}
.btn_cm.round {border-radius:39px}
.btn_cm.down::before {content:'';display:inline-block;width:14px;height:15px;margin-right:7px;background:url(../../cm/images/ico_btm_download.svg) no-repeat center}
.btn_cm.alarm::before {content:'';display:inline-block;width:14px;height:17px;margin-right:7px;background:url(../../cm/images/ico_btm_alarm.svg) no-repeat center}

.img_my{position: relative;width: 72px;height: 72px;border-radius: 50%;margin: 16px auto;}
.img_my a{position: relative;width: 72px;height: 72px;overflow: hidden;border-radius: 50%;}
.img_my::after{content: '';position: absolute;bottom: 0;right: 0;width: 26px;height: 26px;border-radius: 50%;border:1px solid #ddd;background: #fff url(../images/ico_camera.svg) no-repeat center;z-index: 1;box-sizing: border-box;}

.list_info{border:1px solid #eee;background: #f8f8f8;box-sizing: border-box;border-radius: 16px;padding: 12px 20px;margin-bottom: 16px;}
.list_info li{display: flex;align-items: flex-start;}
.list_info li .tit{font-size: 16px;line-height: 150%;color:#888;flex:none;margin-right: 24px;}
.list_info li .txt{font-size: 16px;font-weight: 500;line-height: 150%;color:#111;margin-left: auto;word-break: break-word;text-align: right;}
.list_info li + li{margin-top: 12px;}

.grp_form + .list_info{margin-top: 8px;padding: 16px;border:0;border-radius: 8px;}
.list_info li .tit{font-size: 14px;}
.list_info li .txt{font-size: 14px;}
.list_info li + li{margin-top: 7px;}

/* */

.bg_sub_gray {background:#F4F4F4}
section.bg_sub_gray {padding:24px 16px 0}
section.cm_pd {padding:0 16px 24px 16px}

.hd_coupon {padding:0 16px 24px 16px}
.hd_coupon .tit_coupon {display:flex;height:36px;margin:0 8px 10px 8px;align-items:flex-end}
.hd_coupon .tit_coupon .tit {margin-right:auto;font-size:14px}
.hd_coupon .tit_coupon .count {font-weight:600}

.tab_content .list_coupon {padding:0 16px}

.list_coupon > li {position:relative;border-radius:18px}
.list_coupon > li + li {margin-top:10px}
.list_coupon > li .bg_top {height:22px;background:url(../../cm/images/bg_coupon_top.svg) right top no-repeat, url(../../cm/images/bg_coupon_topleft.svg) left top no-repeat;}
.list_coupon > li .bg_top::before {content:'';position:absolute;left:20px;right:88px;height:22px;background:#FFFFFF;border:0}
.list_coupon > li .bg_bottom {height:22px;background:url(../../cm/images/bg_coupon_bottom.svg) right top no-repeat, url(../../cm/images/bg_coupon_bottomleft.svg) left top no-repeat;}
.list_coupon > li .bg_bottom::before {content:'';position:absolute;left:20px;right:88px;height:22px;background:url(../../cm/images/bg_coupont_bottomcenter.svg) repeat-x;border:0}
.list_coupon > li .coupon_cnt {padding:0 24px;background:#FFFFFF}
.list_coupon > li .tit_coupon {display:flex;flex-wrap:wrap;align-items:center;margin-bottom:16px}
.list_coupon > li .tit_coupon .badge {display:inline-flex;align-items:center;height:23px;padding:0 8px;border-radius:8px;background:#DEF7E4;color:#097E25;font-size:10px}
.list_coupon > li .tit_coupon .badge + .badge {margin-left:4px}
.list_coupon > li .tit_coupon .badge.use {color:#E95C49;background-color:#FFEDED}
.list_coupon > li .tit_coupon .badge.end {color:#666666;background-color:#ECECEC}
.list_coupon > li .tit_coupon .period {margin-left:8px;font-weight:400;font-size:12px;color:#888888}
.list_coupon > li .tit {font-size:16px;color:#111111;line-height:150%;font-weight:500;text-align:left !important}
.list_coupon > li .price {font-weight:700;color:#000000;line-height:150%;font-size:28px}
.list_coupon > li .list_coupon_sub {margin-top:10px}
.list_coupon > li .list_coupon_sub > li {position:relative;padding-left:12px;font-size:12px;line-height:150%;font-weight:400;color:#888888}
.list_coupon > li .list_coupon_sub > li::before {content:'';position:absolute;top:8px;left:4px;width:3px;height:3px;background:#CCCCCC;border-radius:50%}
.list_coupon > li.used .tit,
.list_coupon > li.used .price {color:#6E6E6E}

.coupon_alarm_all {padding:0 32px 12px}
.coupon_alarm_all .check_label {font-weight:700}
.coupon_alarm_chk {margin-top:16px;padding:16px 0;border-top:1px solid #EEEEEE}
.coupon_alarm_chk .check_label {color:#666;font-size:14px}

/* */
.pop_contents.green {background:#ECF2E5}
.pop_contents.green .pop_header {border-bottom:0}
.coupon_coment {line-height:150%;text-align:center}
.coupon_coment + .list_coupon {margin-top:16px}



.btn_setting {width:40px;height:40px;background:url(../../cm/images/ico_setting.svg) no-repeat center;font-size:0;text-indent:-9999px}


.mypage_hd {display:flex;flex-direction:column;align-items:center;justify-content:center;padding-top:8px}
.mypage_hd .img_profile {overflow:hidden;width:72px;height:72px;border-radius:50%}
.mypage_hd .name {margin-top:8px;font-size:18px;line-height:150%}
.mypage_hd .name a {display:inline-flex;align-items:center;height:27px}
.mypage_hd .name a::after {content:'';display:inline-block;width:16px;height:16px;margin-top:-2px;background:url(../../cm/images/ico_myprofile_arr_right.svg) no-repeat center;vertical-align:middle}
.mypage_hd .name .user_name {position:relative;margin-left:4px;font-weight:600;box-shadow:inset 0 -12px 0 #E6FFE3;padding:0 4px;vertical-align: middle}

.list_gray_info {display:flex;gap:4px;margin-top:16px}
.list_gray_info li {display:flex;flex:1 1 auto;flex-direction:column;align-items:center;justify-content:center;height:66px;background:#F4F4F4;border-radius:16px}
.list_gray_info li .tit {font-size:12px;color:#888888;line-height:150%}
.list_gray_info li .cnt {line-height:150%}
.list_gray_info li .cnt .count {font-weight:700;font-size:16px}

.mypage_menu {display:flex;height:85px;margin-top:16px;padding:16px;border:1px solid #DDDDDD;border-radius:14px;box-sizing:border-box}
.mypage_menu li {flex:1}
.mypage_menu li a {display:block;padding-top:32px;font-size:16px;font-weight:600;line-height:150%;text-align:center}
.mypage_menu li .charge {background:url(../../cm/images/bg_mypage_charge.svg) no-repeat center top}
.mypage_menu li .use {background:url(../../cm/images/bg_mypage_use.svg) no-repeat center top}
.mypage_menu li .card {background:url(../../cm/images/bg_mypage_card.svg) no-repeat center top}

.my_adv {display:flex;align-items:center;justify-content:center;margin-top:16px;margin-bottom:32px;padding:16px 20px;background:#231E3A;border-radius:16px}
.grp_my_adv {min-width:290px;padding-left:72px;background:url(../../cm/images/bg_event_gift.svg) no-repeat 0 center}
.my_adv p {font-weight:500;font-size:16px;color:#FFFFFF;line-height:140%}
.my_adv p + p {font-weight:800;font-size:20px;color:#FFFFFF;line-height:140%}

.list_lately_use {margin-top:4px}
.list_lately_use > li {padding:16px;border:1px solid #DDDDDD;border-radius:14px}
.list_lately_use > li + li {margin-top:12px}
.list_lately_use > li .lately_use_title {display:flex;align-items:center}
.list_lately_use > li .lately_use_title .tit {font-size:16px;font-weight:600;color:#111111;margin-right:4px}
.list_lately_use > li .lately_use_title .badge {border-radius:6px;height:23px;padding:0 8px;line-height:23px;background:#DEF7E4;color:#097E25;font-size:10px;font-weight:700;font-family:'nanumSquare'}
.list_lately_use > li .lately_use_title .date {margin-left:auto;color:#888888;font-size:12px}
.list_lately_use > li .lately_use_cnt {display:flex;align-items:center;margin-top:12px}
.list_lately_use > li .lately_use_cnt p {position:relative;font-size:14px;line-height:140%;color:#333333}
.list_lately_use > li .lately_use_cnt p + p {padding-left:17px}
.list_lately_use > li .lately_use_cnt p + p::before {content:'';position:absolute;left:9px;top:50%;width:1px;height:12px;background:#EEEEEE;margin-top:-6px}
.list_lately_use > li .use_price {margin-top:12px}
.list_lately_use > li .use_price .use_price_sum {display:flex;align-items:center;color:#111111;line-height:150%}
.list_lately_use > li .use_price .use_price_sum .tit {font-size:14px;margin-right:auto;color:#888888}
.list_lately_use > li .use_price .use_price_sum .price {color:#111111;font-size:16px;font-weight:700}
.list_lately_use > li .use_price .use_price_sum .btn_price_detail {width:18px;height:18px;background:url(../../cm/images/ico_use_price_sum.svg) no-repeat center;margin-left:4px;font-size:0;text-indent:-9999px}
.list_lately_use > li .use_price .use_price_detail {display:none;margin-top:12px;padding:16px;background:#F4F4F4;border-radius:8px;box-sizing:border-box}
.list_lately_use > li .use_price .use_price_detail.on {display:block}
.list_lately_use > li .use_price .use_price_detail li {display:flex;align-items:center;line-height:150%}
.list_lately_use > li .use_price .use_price_detail li + li {margin-top:8px}
.list_lately_use > li .use_price .use_price_detail li .tit {margin-right:auto;font-size:14px;color:#888888}
.list_lately_use > li .use_price .use_price_detail li .cnt {color:#111111}
.list_lately_use > li .grp_btn {margin-top:20px}

.no_lately_use {padding:16px;border:1px solid #DDDDDD;border-radius:14px;box-sizing:border-box;text-align:center}
.no_lately_use p {font-size:14px;line-height:150%;color:#888888}
.no_lately_use .tit {margin-bottom:4px;font-size:16px;font-weight:600;line-height:150%;color:#111111;padding-top:40px;background:url(../../cm/images/ico_nolaytely.svg) no-repeat center top}


.list_noti {padding:0 24px 40px}
.list_noti > li {height:76px;border-bottom:1px solid #EEEEEE}
.list_noti > li > a {display:flex;height:100%;align-items:center;font-size:16px}
.list_noti > li > a::before {flex:none;content:'';display:block;width:44px;height:44px;border-radius:50%;margin-right:8px}
.list_noti > li > a::after {flex:none;content:'';display:block;width:24px;height:24px;margin-left:auto;background:url(../../cm/images/ico_noti_arrow.svg) no-repeat center}
.list_noti > li > a.noti::before {background:#F4F4F4 url(../../cm/images/ico_noti_speaker.svg) no-repeat center}
.list_noti > li > a.custom::before {background:#F4F4F4 url(../../cm/images/ico_noti_headphone.svg) no-repeat center}
.list_noti > li > a.docu::before {background:#F4F4F4 url(../../cm/images/ico_noti_message.svg) no-repeat center}
.list_noti > li > a.version::before {background:#F4F4F4 url(../../cm/images/ico_noti_check.svg) no-repeat center}

.use_list > li {padding:16px 0;border-bottom:1px solid #EEEEEE}
.use_list > li .use_list_cnt {display:flex;align-items:center}
.use_list > li .use_list_cnt > div {flex:1}
.use_list > li .use_list_left .date {font-size:14px;line-height:150%;color:#888888}
.use_list > li .use_list_left .txt {font-size:14px;font-weight:500;line-height:150%;color:#111111}
.use_list > li .use_list_right {display:inline-flex;align-items:center;justify-content:end}
.use_list > li .use_list_right p {font-size:16px;line-height:150%;color:#111111}
.use_list > li .use_list_right .price {margin-right:2px;font-weight:700}
.use_list > li .use_list_right .btn_use_list {margin-left:8px;width:16px;height:16px;font-size:0;text-indent:-9999px;background:url(../../cm/images/ico_uselist_detail.svg) no-repeat center}
.use_list > li .use_list_detail {display:none;margin-top:12px;padding:16px;background:#F4F4F4;border-radius:8px;box-sizing:border-box}
.use_list > li .use_list_detail.on {display:block}
.use_list > li .use_list_detail li {display:flex;align-items:center;line-height:150%}
.use_list > li .use_list_detail li + li {margin-top:8px}
.use_list > li .use_list_detail li .tit {margin-right:auto;font-size:14px;color:#888888}
.use_list > li .use_list_detail li .cnt {color:#111111}
.use_list > li .use_list_detail .grp_btn {margin-top:24px}

.custom_link > li {border-bottom:1px solid #EEEEEE}
.custom_link > li button {position:relative;display:flex;align-items:center;width:100%;height:73px;font-size:16px;font-weight:500}
.custom_link > li button::after {content:'';display:inline-block;width:16px;height:16px;background:url(../../cm/images/ico_uselist_detail.svg) no-repeat center;margin-left:auto}
.custom_link > li button.on::after {transform:rotate(180deg)}

.custom_link_cnt {display:none;margin-bottom:24px}
.custom_link_cnt.on {display:block}
.custom_link_cnt .custom_question li {position:relative;padding-left:32px}
.custom_link_cnt .custom_question li::before {content:'Q';position:absolute;left:0;top:0;width:24px;height:24px;border-radius:50%;background:#F2F4F8;text-indent:6px;line-height:24px;font-weight:600;color:#333333}
.custom_link_cnt .custom_question li + li {margin-top:12px}
.custom_link_cnt .custom_question li .tit {font-size:16px;font-weight:600;color:#111111;line-height:150%}
.custom_link_cnt .custom_question li .cnt {margin-top:6px;font-size:14px;color:#888888;line-height:150%}

.policy_link_list li a {display:flex;align-items:center;width:100%;height:58px;border-bottom:1px solid #EEEEEE;background:url(../../cm/images/ico_policy_arrow.svg) no-repeat right center;font-size:16px}