@charset "utf-8";


h3{font-size: 16px;font-weight: 700;}
h3:first-child{margin-top: 0;}
.list_point li{display: flex;align-items: center;height: 59px;border-bottom: 1px solid #eee;}
.list_point li .tit{font-size: 16px;line-height: 140%;}
.list_point li .num{margin-left: auto;font-size: 18px;font-weight: 700;box-shadow: inset 0 -12px 0 #E6FFE3;padding: 2px;}
.list_point li .num::after{content: 'P';margin-left: 4px;font-weight: 400;font-size: 16px;}

.box_history h3{margin-top: 43px;}
.btn_history{display: flex;align-items: center;gap: 8px;margin-top: 12px;}
.btn_history button{padding: 10px 16px;height: 40px;box-sizing: border-box;border-radius: 25px;font-size: 14px;font-weight: 500;background:#F4F4F4;}
.btn_history button.on{background:#333333;color:#fff;}

.list_history{margin-top: 16px;}
.list_history > li{border: 1px solid #ddd;border-radius: 14px;padding:16px}
.list_history > li + li{margin-top: 8px;}
.list_history > li .top{display: flex;align-items: flex-start;}
.list_history > li .top .badge{background: #DEF7E4;color:#097E25;display: flex;align-items: center;justify-content: center;min-width: 40px;height: 23px;border-radius: 6px;font-size: 10px;font-weight: 700;}
.list_history > li .top .right{margin-left: auto;}
.list_history > li .top .date{font-size: 12px;line-height: 150%;color:#888}
.list_history > li .top .num{display: flex;align-items: center;font-size: 16px;font-weight: 700;line-height: 150%;justify-content: flex-end;color:#4CB01D}
.list_history > li .top .num::after{content: 'ì›';font-size: 14px;font-weight: 400;margin-left: 3px;}
.list_history > li ul{margin-top: 12px;}
.list_history > li ul li{display: flex;align-items: center;font-size: 14px;line-height: 150%;}
.list_history > li ul li + li{margin-top: 12px;}
.list_history > li ul li .tit{color:#888}
.list_history > li ul li .txt{color:#111;margin-left: auto;}
.list_history > li.use .badge{background: #FFEDED;color:#E95C49;}
.list_history > li.use .num{color:#E95C49}