@charset "utf-8";


.grp_tip {position:relative;margin-left:4px}
.btn_explain {width:16px;height:16px;background:url(../../cm/images/ico_explain.svg) no-repeat center}
.btn_explain.on + .tip_content {display:block}
.tip_content {display:none;position:absolute;left:-20px;top:25px;width:200px;background:#111111;border-radius:8px;padding:8px 12px;line-height:140%;font-weight:500;font-size:12px;color:#FFFFFF}
.tip_content::before {content:'';position:absolute;left:23px;top:-7px;width:9px;height:7px;background:url(../../cm/images/bg_tip_explain.svg) no-repeat}


.btn_custom_link.on + .custom_link_cnt {display:block}

.txt_address {padding-left:20px;color:#111111;font-size:14px;line-height:150%;background:url(../../cm/images/ico_address.svg) no-repeat left top}
.txt_number {margin-top:10px;padding-left:20px;color:#111111;font-size:14px;line-height:150%;background:url(../../cm/images/ico_number.svg) no-repeat left top}

.grp_policy + .grp_policy {margin-top:24px}
.grp_policy h3 {font-size:16px;font-weight:500;line-height:150%;color:#111111}
.grp_policy p {font-size:14px;line-height:150%;color:#888888}
.grp_policy p + p {margin-top:12px}
.grp_policy h3 + p {margin-top:16px}

.pg_terms .pg_txt {margin-top:32px;margin-bottom:32px;font-size:20px;font-weight:500;line-height:150%;color:#111111}
.pg_terms .chk_all {margin-left:16px;margin-bottom:16px}
.pg_terms .chk_all .check_label {font-weight:500}
.pg_terms .chk_cnt {display:flex;align-items:center;min-height:53px;border-radius:16px;padding:0 16px;background:#F4F4F4 url(../../cm/images/ico_chkcnt_arrow.svg) no-repeat right 16px top 18.5px}
.pg_terms .chk_cnt.detail {flex-direction:column;align-items:flex-start;padding:16px}
.pg_terms .chk_cnt + .chk_cnt {margin-top:8px}
.pg_terms .chk_cnt .txt {display:inline-block;margin-left:8px;font-size:14px;font-weight:400;color:#333333}
.pg_terms .chk_cnt ul {display:block;width:100%;margin-top:8px;padding-top:12px;border-top:1px solid #DDDDDD}
.pg_terms .chk_cnt ul li {display:flex;}
.pg_terms .chk_cnt ul li + li {margin-top:8px}
.pg_terms .chk_cnt ul li .tit {flex:none;width:72px;font-size:14px;color:#888888}
.pg_terms .chk_cnt ul li p {line-height:150%}

.pg_terms .terms_info {display:flex;margin-top:8px;font-size:14px;line-height:150%;color:#E95C49}
.pg_terms .terms_info::before {content:'※';display:block;margin-right:4px;font-size:14px;}


.check_label.req {font-weight:600}

.txt_semibold {font-weight:600}

.grp_btn_filter {display:flex;flex-wrap:wrap;gap:8px}
.grp_btn_filter .btn_filter {display:inline-flex;align-items:center;height:40px;padding:0 16px;border:0;border-radius:40px;background:#F4F4F4;color:#111111;font-size:14px;font-weight:500}
.grp_btn_filter .btn_filter.lately {padding-left:32px;background:#F4F4F4 url(../../cm/images/ico_btn_lately.svg) no-repeat 14px center}
.grp_btn_filter .btn_filter.point {padding-left:32px;background:#F4F4F4 url(../../cm/images/ico_btn_point.svg) no-repeat 10px center}

.event_list {margin-top:16px}
.event_list li {background:#F4F4F4;border-radius:16px;padding:126px 16px 16px;box-sizing:border-box}
.event_list li + li {margin-top:16px}
.event_list li .tit {color:#111111;font-size:22px;line-height:130%;text-align:center}
.event_list li .tit .tit_point {font-size:22px;color:#4CB01D}
.event_list li .event_cnt {margin-top:8px;border:1px solid #DDDDDD;border-radius:14px;background:#FFFFFF;padding:12px;box-sizing:border-box;text-align:center}
.event_list li .event_cnt p {font-size:14px;color:#111111;line-height:150%}
.event_list li .event_cnt .event_txt_info {color:#888888;font-size:12px;margin-top:8px}
.event_list li .grp_btn {margin-top:16px}

.event_list li.friend {background:#F4F4F4 url(../../cm/images/bg_event_friend.svg) no-repeat center 24px}
.event_list li.coffee {background:#F4F4F4 url(../../cm/images/bg_event_coffee.svg) no-repeat center 24px}

.container.no_tabbar .contract {background:#FFFFFF}
.contract .tit {font-size:22px;font-weight:700;line-height:140%;color:#111111;text-align:center}
.contract .txt {color:#333333;font-size:16px;line-height:150%;text-align:center}

.ct01 {position:relative;border-radius:0;margin-bottom:64px;padding:360px 0 32px;background:#E6F5DA url(../../cm/images/bg_contract01.png) no-repeat center 32px}
.ct01::after {content:'';position:absolute;left:0;top:100%;width:100%;height:64px;background:#E6F5DA;clip-path:polygon(0 0, 0% 100%, 100% 0)}
.ct02 {border-radius:0;padding:254px 0 48px;background:url(../../cm/images/bg_contract02.png) no-repeat center 32px;text-align:center}
.ct03 {position:relative;border-radius:0;margin:64px 0;padding:382px 0 32px;background:#E2DDF1 url(../../cm/images/bg_contract03.png) no-repeat center top;text-align:center;background-size: auto;}
.ct03::before {content:'';position:absolute;left:0;bottom:100%;width:100%;height:64px;background:#E2DDF1;clip-path:polygon(100% 100%, 100% 0%, 0 100%)}
.ct03::after {content:'';position:absolute;left:0;top:calc(100% - 1px);width:100%;height:64px;background:#E2DDF1;clip-path:polygon(0 0, 0% 100%, 100% 0)}
.ct04 {padding:40px 16px}
.ct04 .tit {margin-bottom:24px}

.ct_list {display:inline-block;margin-top:24px}
.ct_list li {position:relative}
.ct_list li + li {margin-top:6px}
.ct_list li p {display:flex;align-items:center;font-size:14px;line-height:140%;color:#3A815B} 
.ct_list li p::before {content:'';display:inline-block;width:11px;height:8px;margin-right:8px;background:url(../../cm/images/ico_ctlist.svg) no-repeat center}
.ct_list.purple li p {color:#7467B1}
.ct_list.purple li p::before {background:url(../../cm/images/ico_ctlist_purple.svg) no-repeat center}
